.group-invites-modal-backdrop {
  display: none; /* skryté pred ukázaním */
  position: fixed; /* Zmeníme späť na 'fixed' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* tmavé pozadie */
  z-index: 1040; /* Uistite sa, že z-index je dostatočne vysoký, aby prekryl ostatný obsah */
}

.group-invites-modal {
  display: none; /* skryté pred ukázaním */
  position: fixed; /* Zmeníme späť na 'fixed' */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centruje modálne okno */
  z-index: 1050; /* Uistite sa, že z-index je vyšší ako u backdrop */
  background-color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: auto;
  max-width: 500px; /* Nastavte maximálnu šírku podľa potreby */
}

.group-invites-modal.show,
.group-invites-modal-backdrop.show {
  display: block; /* Zobrazí modálne okno a pozadie keď je príznak 'show' aktívny */
}

  
  .group-invites-modal-content {
    padding: 1rem;
    background: white;
    border-radius: 0.3rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .group-invites-close-button {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background: transparent;
    font-size: 1.5rem;
  }
  
  .group-invites-modal h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .group-invites-modal button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    color: white;
    background-color: #007bff;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .group-invites-modal button:hover {
    background-color: #0056b3;
  }
  
  .invite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .invite-details {
    flex-grow: 1;
  }
  
  .invite-group-name {
    font-weight: bold;
  }
  
  .invite-sender-name {
    visibility: visible; /* len na účely testovania */
    color: #000; /* čierna farba pre testovanie */
    font-size: 16px; /* viditeľná veľkosť fontu */
  }
  
  .invite-actions {
    display: flex;
    gap: 0.5rem;
  }
  
  .accept-btn {
    background-color: #4CAF50; /* Zelená */
    color: white;
  }
  
  .reject-btn {
    background-color: #f44336; /* Červená */
    color: white;
  }
  
  .accept-btn, .reject-btn {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .accept-btn:hover {
    background-color: #45a049;
  }
  
  .reject-btn:hover {
    background-color: #d32f2f;
  }
  
  .no-invites {
    text-align: center;
    padding: 1rem;
  }